<div class="column">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h2>Messages</h2></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <span class="message-author">{{ message.author }}: {{ message.content }}</span>
    </mat-list-item>
  </mat-list>

  <form class="message-form">
    <mat-form-field class="message-full-width">
      <input matInput placeholder="Type a message" (ngModel)="newMessageContent">
      <mat-icon matSuffix (click)="onSendClicked()">send</mat-icon>
    </mat-form-field>
  </form>
</div>
